{% set bgPanierOrange = 'cart-step-disabled' %}
{% set bgAdressesOrange = 'cart-step-disabled' %}
{% set bgPaiementOrange = 'cart-step-disabled' %}

{% if page_step == 'demandes' %}
    {% set bgPanierOrange = 'cart-step-active' %}
{% endif %}
{% if page_step == 'adresses' %}
    {% set bgAdressesOrange = 'cart-step-active' %}
{% endif %}
{% if page_step == 'recapitulatif' %}
    {% set bgPaiementOrange = 'cart-step-active' %}
{% endif %}

<div class="row g-0 py-5 bg-white justify-content-center">
  <div class="cart-steps col-11 col-md-6">
    <a href="#" class="cart-step {{ bgPanierOrange }}">
      <span class="cart-step-number">1</span>
      <span class="cart-step-text">
        Demandes
      </span>
    </a>
    <a href="#" class="cart-step {{ bgAdressesOrange }}">
      <span class="cart-step-number">2</span>
      <span class="cart-step-text">
        Adresses
      </span>
    </a>
    <a href="#" class="cart-step {{ bgPaiementOrange }}">
      <span class="cart-step-number">3</span>
      <span class="cart-step-text">
        Récapitulatif
      </span>
    </a>
  </div>
</div>